@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Medium.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Medium.woff') format('woff'),
        url('../fonts/RobotoSlab-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

input[type=text],
select,
input[type=tel],
textarea {
    width: 100%;
}

.wrapper-big {
    width: 1280px;
}

.wrapper {
    margin: 0 auto;
    max-width: 960px;
}

.wrapper-header {
    background-color: #1f1f56;
}

header {
    padding-top: 55px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.1); 
}

.wrapper-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.text-header {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
    font-family: "Arial";
}

.a-header:hover {
    color: #fd8300;
}

.a-header {
    display: block;
    padding: 15.5px 0;
    color: #b1b1d2;
    text-decoration: none;
    transition: 0.5s ease;
}

.relative {
    position: relative;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.ulka {
    list-style: none;
    column-gap: 28px;
}

.tw {
    padding:3px;
}

.p-a {
    padding-left: 18px;
}

.svg-fb,
.svg-tw,
.svg-inst {
    fill: #fff;
    transition: all 0.5s ease;
}

.svg-fb:hover,
.svg-tw:hover,
.svg-inst:hover {
    fill: #fd8300;
}

.svg-phone,
.svg-ema,
.svg-skype {
    fill: #1f1f56;
    transition: all 0.5s ease;
}

.svg-skype,
.svg-ema {
    position: absolute;
    left: -12px;
    top: 50%;
    transform: translateY(-50%);
}

.svg-phone {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -11px;
}


.phone a {
    padding-left: 11px;
}

.a-tel {
    font-size: 18px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    display: flex;
    justify-content: right;
    position: relative;
}

.a-tel p {
    padding-left: 11px;
}

.ul-phone {
    padding-left: 46px;
}

.phone ul {
    list-style: none;
}

.email ul {
    list-style: none;
}

.ul-email {
    padding-left: 60px;
}

.tel {
    padding-left:10px;
}

.hover {
    transition: 0.5s ease;
    text-decoration: none;
}

.hover:hover {
    color:#fd8300;
}

.a-tl {
    padding-left: 18px;
}

.email {
    position: relative;
}

.email a:hover > svg,
.phone a:hover > svg {
    fill: #fd8300;
}

.emai a:hover > svg {
    fill: #fd8300;
}

.email:before {
    content: "";
    width: 1px;
    height: 51px;
    position: absolute;
    left: -28px;
    top: 0;
    border-left: 1px solid #e4e4ec;
}

.a-email {
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    color: #25252c;
    font-family: "Arial";
    position: relative;
    padding-left: 20px;
}

.flex-stretch {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.p-email {
    padding-left: 12px;
    text-decoration: none;
}

.img-button {
    padding-left: 50px;
}

.photoss {
   align-items: center;
}

.zamovit {
    border: 2px solid #fd8300;
    border-radius: 25px;
    transition: all 0.5s ease;
}

.skype {
    text-decoration: none;
}

.camovit {
    font-size: 16px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    padding: 14px 29px;
    display: block;
    text-decoration: none;
    transition: all 0.5s ease;
}

.zamovit:hover {
    background-color: #fd8300;
    color: #fff;
}

.zamovit:hover > .camovit {
    color: #fff;
}

.photo-img {
    background: black url(../img/picture.webp) no-repeat center/cover;
}

.orange-p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 59px;
    padding-bottom: 44px;
}

sup {
    font-size: 17px;
}

.wrapper-main {
    padding: 36px 0;
    display: flex;
}

.photo-img-p {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
}

span {
    font-size: 24px;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

.photo-img-p1 {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Arial";
}

.photo-img-p2 {
    font-size: 40px;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

.h1 {
    font-size: 30px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    padding-bottom: 28px;
}

main {
    padding-top: 42px;
}

.text {
    max-width: 677px;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
    padding-bottom: 21px;
}

.a-detals {
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
    transition: all 0.5s ease;
}

.a-detals:hover {
    color: #666;
    text-decoration: underline;
}

.hr {
    width: 100%;
    border: none;
    border-top: 1px solid #e4e4ec;
    margin: 33px 0;
}

.h2 {
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    padding-bottom: 24px;
}

.popular-projects a {
    text-decoration: none;  
}

.relative-a {
    position: relative;
}

.figure-a {
    position: absolute;
    width: 219px;
    height: 238px;
    top: 0;
    left: 0;
}

.relative-a a:hover ~ h3 {
    text-decoration: underline;
}

.article-house:hover > h3 {
    text-decoration: underline;
}

.p-plosha {
    font-size: 13px;
    line-height: 18px; 
    color: #9999a6;
    font-family: "Arial";
}

.h4-first {
    font-size: 14px;
    line-height: 24px;
    color: #1f1f56;
    font-weight: bold;
    font-family: "Arial";
    transition: 0.5s ease;
}

.category {
    border-radius: 3px 3px 0 0;
    background-color: #1f1f56;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    font-weight: 700;
    font-family: "Roboto Slab";
    padding: 10.5px 16px;
}

.submenu {
    display: none;
}

.aside-menu a {
    padding: 10.5px 16px;
    font-size: 14px;
    line-height: 24px;
    color: #25252c;
    font-family: "Arial";
    background-color: #e4e4ec;
    display: block;
    transition: all 0.5s ease;
}

.aside-menu ul {
    list-style: none;
}

.aside-menu {
    min-width: 220px;
    border-radius: 3px;
}

.sticky {
    position: sticky;
    top: 60px;
}

.aside-menu a {
    text-decoration: none;
}

.aside-menu li:hover > .submenu {
    display: block 
}

.aside-menu li:hover > a {
    background-color: #fd8300;
    color: #fff;
}

.aside-ul {
    border-radius: 0 0 3px 3px;
    overflow: hidden;
}

.aside-ul > li > a {
    position: relative;
}

.aside-ul > li > a:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 14px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #666;
    border-left: 2px solid #666;
    transform: translateY(-50%) rotate(135deg);
    transition: all 0.5s ease;
}

.aside-ul > li:hover > a:before {
    border-color: #fff;
    transform: translateY(-50%) rotate(225deg);
}

.li-border {
    border-top: 1px solid #cdcddd;
}

.submenu a {
    padding-left: 30px;
    color: #666;
}

.submenu li:hover > a {
    background-color: #cecedd;
    color: #666;
}

main {
    column-gap: 28px;
}

footer {
    background-color: #ededf5;
}

.infooter {
    padding-top: 42px;
    padding-bottom: 29px;
}

.ulkaa {
    list-style: none;
}

.just {
    font-size: 14px;
    line-height: 26px;
    color: #666666;
    font-family: "Arial";
}

.underfooter {
    background-color: #dcdce6;
    padding: 18px 0;
}

.underfooter p {
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    font-family: "Arial";
    text-align: center;
}

/* start hataprice */

main {
    padding-bottom: 46px;
}

.h3-zhini {
    font-size: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    padding-bottom: 21px;
}

.p-opis {
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
    padding-bottom: 27px;
    width: 818px;
}

.ok {
    padding-top: 27px;
}

.p-opiss {
    padding-bottom: 25px;
}

.opis {
    font-size: 13px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
}

.hidden:first-child {
    border-radius: 3px 3px 0 0;
}

.hidden:last-child {
    border-radius: 0 0 3px 3px;
}

.hidden {
    display: none;
    position: absolute;
    list-style: none;
    border-radius: 3px;
    top: calc(100% + 5px);
    left: 0;
}

.hidden:before {
    content: "";    
    position: absolute;
    border-top: 5px solid transparent;
    top: -5px;
    left: 0;
    width: 100%;
    height: 5px;
}

.a-header:hover ~ .hidden,
.hover-a:hover ~ .ul-header {
    display: block;
}

.ul-header {
    z-index: 1;
    left: 100%;
    top: 0;
    left: calc(100% + 4px);
    position: absolute;
}

.ul-header:before {
    content: "";
    position: absolute;
    border-left: 4px solid transparent;
    top: 0;
    left: -4px;
    width: 4px;
    height: 100%;
}

.hidden:first-child(1) {
    border-radius: 3px 3px 0 0;
}

.hidden:last-child {
    border-radius: 0 0 3px 3px;
}

.a-houses {
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #25252c;
    font-family: "Arial";
    padding: 10px;
    text-decoration: none;
}

.hidden li {
    background-color: #e4e4ec;
    width: 126px;
}

.hidden li+li {
    border-top: 1px solid #cecedd;
}

.hover-li {
    position: relative;
}

.hover-li:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 9px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #666;
    border-left: 2px solid #666;
    transform: translateY(-50%) rotate(135deg);
    transition: all 0.5s ease;
}

.hidden > li:hover:before {
    border-color: #fff;
    transform: translateY(-50%) rotate(225deg);
}

.text-header li:hover > ul {
    display: block;
}

.radius > li:first-child {
    border-radius: 3px 3px 0 0;
}

.radius > li:last-child {
    border-radius: 0 0 3px 3px;
}

.hidden li {
    transition: all 0.5s ease;
}

.hidden li:hover > a {
    color: #fff;
}

.hidden li:hover {
    background-color: #fd8300;
}

.inside {
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #25252c;
    font-family: "Arial";
    text-decoration: none;
    padding: 10px;
}

th {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
    border-collapse: collapse;
}

.border-top > th {
    border-top: 1px solid #274569;
}

.border-left > th {
    border-left: 1px solid #274569;
}

td {
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
    background-color: #e4e4ec;
}

tbody > tr > td {
    transition: all 0.5s ease;
}

tbody > tr:hover > td {
    background-color: #fd8300;
    color: #fff;
}

.left {
    text-align: left;
}

thead {
    background-color: #1f1f56; 
}

table {
    border-radius: 3px;
    overflow: hidden;
    width: 100%;
    border-collapse: collapse;
}

tbody > tr > td + td  {
    border-left: 1px solid #cecedd;
}

tbody > tr + tr {
    border-top: 1px solid #cecedd;
}

tbody > tr > td:first-child,
tbody > tr > td:last-child {
    padding: 8.5px 19px;
}

.center {
    text-align: center;
}

tbody > tr > td:last-child {
    text-align: right;
}

.width-td {
    width: 256px;
}

.haracters {
    padding: 0px 0;
}

.cina {
    padding: 23px 20px 23px 70px;
}

.garage {
    padding: 0px 18.5px;
}

.nazva {
    padding: 23px 20px;
    text-align: left;
}

.zagalna-plosha {
    padding: 0px 34px;
}

.kilkict {
    padding: 0px 42px;
}

/* start contacts */

.information > .div-x {
    column-gap: 88px;
}

.information {
    column-gap: 165px;
}

.h2-contact {
    font-size: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    padding-bottom: 27px;
}

.a-te {
    font-size: 18px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
}

.information > div:first-child > p:nth-child(3) {
    display: flex;
    flex-direction: column;
    padding-bottom: 14px;
}

.first-colon > p:first-child,
.second-colon > p:first-child,
.third-colon > p:first-child,
.web-forms > div > p {
    font-size: 14px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.second-colon > p:first-child,
.third-colon > p:first-child {
    padding-bottom: 22px;
}

.first-colon > p:first-child {
    padding-bottom: 19px;
}

.first-colon > p:nth-child(2) {
    font-size: 14px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
    padding-bottom: 14px;
}

.second-colon > p:nth-child(2),
.second-colon > p:nth-child(4) {
    font-size: 14px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
}

.third-colon > p + p {
    font-size: 14px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
}

.third-colon > p:nth-child(2) {
    width: 254px;
    padding-bottom: 20px;
}

.third-colon > p:nth-child(3) {
    width: 216px;
}

.second-colon > p:nth-child(3) {
    padding-bottom: 16px;
}

.first-colon > p:nth-child(3) {
    display: flex;
    flex-direction: column;
    padding-bottom: 14px;
}

.a-emai {
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    color: #25252c;
    font-family: "Arial";
}

.first-colon > p:nth-child(3) {
    display: flex;
    flex-direction: column;
    padding-bottom: 14px;
}

.div-x {
    column-gap: 88px;
    display: flex;
}

.information {
    column-gap: 162px;
}

.map{
  position: relative;
  overflow: hidden;
  width: 467px;
  height: 296px;
 }
 
iframe{
  position: absolute;
  top: -71px;
  left: 0;
  border: none;
  width: 467px;
  height: 296px;
}

.web-forms > div:last-child {
    width: 50%;
}

form input[type=text],
form input[type=tel],
form textarea {
    appearance: none;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
    font-size: 13px;
    line-height: 21px;
    color: #9999a6;
    font-style: italic;
    font-family: "Arial";
}

form > label:first-child > input {
    width: 100%;
    height: 40px;
}

form > label:nth-child(2) > input {
    width: 100%;
    height: 40px;
}

form > label:nth-child(3) > textarea {
    width: 100%;
    height: 105px;
}

.map ~ div > p {
    padding-bottom: 21px;
}

input[type=submit] {
    appearance: none;
    width: 140px;
    height: 41px;
    appearance: none;
    border-radius: 21px;
    background-color: #fd8300;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

input[type=checkbox] {
    appearance: none;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
    width: 15px;
    height: 15px;
}

.flexxx {
    display: flex;
    align-items: center;
}

.flexxx > p {
    font-size: 13px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
    padding-left: 12px;
}

.parent {
    position: relative;
}

.parent span {
    position: absolute;
}

input[type=checkbox]:checked + span {
    top: 48%;
    left: 50%;
    width: 8px;
    height: 5px;
    border-top: 2px solid #1f1f56;
    border-right: 2px solid #1f1f56;
    transform: translate(-47%, -50%) rotate(135deg);
}

form > label:last-child {
    font-size: 13px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
}

form > label,
form > label > p {
    column-gap: 9px;
}

.web-forms > div:first-child {
    overflow: hidden;
}

.map{
    position: relative;
    overflow: hidden;
    width: 466px;
    height: 299px;
}

iframe{
    position: absolute;
    top: -71px;
    left: 0;
    border: none;
    width: 100%;
    height: 100%;
}

.flexx {
    display: flex;
    column-gap: 9px;
}

form > p {
    margin-bottom: 9px;
}